#  1. import library

In [1]:
import pandas as pd

# 2. Opening a local csv file

In [2]:
df=pd.read_csv("placement.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'placement.csv'

# 3. Opening a csv file from an URL

In [8]:
import requests
from io import StringIO

url="https://raw.githubusercontent.com/softhints/Pandas-Exercises-Projects/refs/heads/main/data/europe_pop.csv"
headers={"User-Agent":"Mozilla/5.0(Macintosh; Intel Mac Os x 10.14;rv:66.0) gecko/20100101 firefox/66.0"}
req=requests.get(url,headers=headers)
data=StringIO(req.text)
pd.read_csv(data)

,Unnamed: 0,pop_est,continent,name,iso_a3,gdp_md_est,geometry,values,address,lat,lon
0,18,144373535.0,Europe,Russia,RUS,1699876,MULTIPOLYGON (((180.00000000000006 71.51571433...,1.0,"(64.6863136, 97.7453061)",64.686314,97.745306
1,21,5347896.0,Europe,Norway,NOR,403336,"MULTIPOLYGON (((15.142820000000002 79.67431, 1...",0.5,"(61.1529386, 8.7876653)",61.152939,8.787665
2,43,67059887.0,Europe,France,FRA,2715518,MULTIPOLYGON (((-51.65779741067889 4.156232408...,0.8,"(46.603354, 1.8883335)",46.603354,1.888334
3,110,10285453.0,Europe,Sweden,SWE,530883,POLYGON ((11.027368605196868 58.85614940045936...,0.4,"(59.6749712, 14.5208584)",59.674971,14.520858
4,111,9466856.0,Europe,Belarus,BLR,63080,"POLYGON ((28.17670942557794 56.16912995057879,...",0.1,"(53.4250605, 27.6971358)",53.425061,27.697136
5,112,44385155.0,Europe,Ukraine,UKR,153781,"POLYGON ((32.15944000000013 52.06125000000014,...",0.6,"(49.4871968, 31.2718321)",49.487197,31.271832
6,113,37970874.0,Europe,Poland,POL,595858,"POLYGON ((23.48412763844985 53.91249766704114,...",0.9,"(52.215933, 19.134422)",52.215933,19.134422
7,114,8877067.0,Europe,Austria,AUT,445075,POLYGON ((16.979666782304037 48.12349701597630...,0.3,"(47.59397, 14.12456)",47.593970,14.124560
8,115,9769949.0,Europe,Hungary,HUN,163469,POLYGON ((22.085608351334855 48.42226430927179...,0.7,"(47.1817585, 19.5060937)",47.181759,19.506094
9,116,2657637.0,Europe,Moldova,MDA,11968,POLYGON ((26.619336785597795 48.22072622333347...,0.2,"(47.2879608, 28.5670941)",47.287961,28.567094
10,117,19356544.0,Europe,Romania,ROU,250077,"POLYGON ((28.23355350109904 45.48828318946829,...",0.5,"(45.9852129, 24.6859225)",45.985213,24.685923
11,118,2786844.0,Europe,Lithuania,LTU,54627,POLYGON ((26.494331495883756 55.61510691997763...,0.8,"(55.3500003, 23.7499997)",55.350000,23.750000
12,119,1912789.0,Europe,Latvia,LVA,34102,POLYGON ((27.288184848751513 57.47452830670383...,0.4,"(56.8406494, 24.7537645)",56.840649,24.753764
13,120,1326590.0,Europe,Estonia,EST,31471,POLYGON ((27.981126857000987 59.47537333432527...,0.1,"(58.7523778, 25.3319078)",58.752378,25.331908
14,121,83132799.0,Europe,Germany,DEU,3861123,POLYGON ((14.119686313542559 53.75702912049104...,0.6,"(51.1638175, 10.4478313)",51.163818,10.447831
15,122,6975761.0,Europe,Bulgaria,BGR,68558,"POLYGON ((22.65714969248299 44.23492300066128,...",0.9,"(42.6073975, 25.4856617)",42.607397,25.485662
16,123,10716322.0,Europe,Greece,GRC,209852,MULTIPOLYGON (((26.290002882601698 35.29999034...,0.3,"(38.9953683, 21.9877132)",38.995368,21.987713
17,125,2854191.0,Europe,Albania,ALB,15279,"POLYGON ((21.0200403174764 40.84272695572588, ...",0.7,"(41.000028, 19.9999619)",41.000028,19.999962
18,126,4067500.0,Europe,Croatia,HRV,60752,POLYGON ((16.564808383864857 46.50375092221983...,0.2,"(45.3658443, 15.6575209)",45.365844,15.657521
19,127,8574832.0,Europe,Switzerland,CHE,703082,"POLYGON ((9.59422610844635 47.52505809182027, ...",0.5,"(46.7985624, 8.2319736)",46.798562,8.231974
20,128,619896.0,Europe,Luxembourg,LUX,71104,POLYGON ((6.043073357781111 50.128051662794235...,0.8,"(49.8158683, 6.1296751)",49.815868,6.129675
21,129,11484055.0,Europe,Belgium,BEL,533097,"POLYGON ((6.15665815595878 50.80372101501058, ...",0.4,"(50.6402809, 4.6667145)",50.640281,4.666715
22,130,17332850.0,Europe,Netherlands,NLD,907050,"POLYGON ((6.905139601274129 53.48216217713065,...",0.1,"(52.2434979, 5.6343227)",52.243498,5.634323
23,131,10269417.0,Europe,Portugal,PRT,238785,POLYGON ((-9.034817674180246 41.88057058365967...,0.6,"(39.6621648, -8.1353519)",39.662165,-8.135352
24,132,47076781.0,Europe,Spain,ESP,1393490,POLYGON ((-7.453725551778092 37.09778758396607...,0.9,"(39.3260685, -4.8379791)",39.326068,-4.837979
25,133,4941444.0,Europe,Ireland,IRL,388698,POLYGON ((-6.197884894220991 53.86756500916336...,0.3,"(52.865196, -7.9794599)",52.865196,-7.979460
26,141,60297396.0,Europe,Italy,ITA,2003576,MULTIPOLYGON (((10.44270145024663 46.893546250...,0.7,"(42.6384261, 12.674297)",42.638426,12.674297
27,142,5818553.0,Europe,Denmark,DNK,350104,MULTIPOLYGON (((9.921906365609118 54.983104153...,0.2,"(55.670249, 10.3333283)",55.670249,10.333328
28,143,66834405.0,Europe,United Kingdom,GBR,2829108,MULTIPOLYGON (((-6.197884894220991 53.86756500...,0.5,"(54.7023545, -3.2765753)",54.702354,-3.276575
29,144,361313.0,Europe,Iceland,ISL,24188,POLYGON ((-14.508695441129234 66.4558922390314...,0.8,"(64.9841821, -18.1059013)",64.984182,-18.105901
30,150,2087946.0,Europe,Slovenia,SVN,54174,POLYGON ((13.806475457421527 46.50930613869121...,0.4,"(46.1199444, 14.8153333)",46.119944,14.815333
31,151,5520314.0,Europe,Finland,FIN,269296,POLYGON ((28.591929559043194 69.06477692328666...,0.1,"(63.2467777, 25.9209164)",63.246778,25.920916
32,152,5454073.0,Europe,Slovakia,SVK,105079,POLYGON ((22.558137648211755 49.08573802346714...,0.6,"(48.7411522, 19.4528646)",48.741152,19.452865
33,153,10669709.0,Europe,Czechia,CZE,250680,"POLYGON ((15.01699588385867 51.10667409932158,...",0.9,"(49.7439047, 15.3381061)",49.743905,15.338106
34,170,3301000.0,Europe,Bosnia and Herz.,BIH,20164,POLYGON ((18.559999999999945 42.64999999999998...,0.3,"(43.859430399999994, 18.425363070006362)",43.859430,18.425363
35,171,2083459.0,Europe,North Macedonia,MKD,12547,POLYGON ((22.380525750424592 42.32025950781509...,0.7,"(41.6171214, 21.7168387)",41.617121,21.716839
36,172,6944975.0,Europe,Serbia,SRB,51475,POLYGON ((18.829824792873946 45.90887235802528...,0.0,"(44.1534121, 20.55144)",44.153412,20.551440
37,173,622137.0,Europe,Montenegro,MNE,5542,POLYGON ((20.070700000000045 42.58863000000008...,0.0,"(42.9868853, 19.5180992)",42.986885,19.518099
38,174,1794248.0,Europe,Kosovo,-99,7926,POLYGON ((20.590246546680227 41.85540891928362...,1.0,"(42.5869578, 20.9021231)",42.586958,20.902123

 # 5. use_cols parameter

In [12]:
td=pd.read_csv('titanic.csv',usecols=['Pclass','Name','Sex','Age'])  # usecols parameter to choose  best features columns
td

     Pclass                                               Name     Sex   Age
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
..      ...                                                ...     ...   ...
886       2                              Montvila, Rev. Juozas    male  27.0
887       1                       Graham, Miss. Margaret Edith  female  19.0
888       3           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889       1                              Behr, Mr. Karl Howell    male  26.0
890       3                                Dooley, Mr. Patrick    male  32.0

[891 rows x 4 columns]