In [4]:
import pandas as pd

# working on JSON

# read_json

In [6]:
df=pd.read_json('train.json')
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

# working on SQL

In [8]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     ----------- ---------------------------- 3.4/11.9 MB 14.5 MB/s eta 0:00:01
     -------------------- ------------------- 6.0/11.9 MB 13.4 MB/s eta 0:00:01
     --------------------------- ------------ 8.1/11.9 MB 12.9 MB/s eta 0:00:01
     ---------------------------------- ---- 10.5/11.9 MB 12.6 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 12.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=247959 sha256=eb1a405e4478c980063ed7444256225cc594ae3a9646a987fefcb00990cac6da
  Stored in directory: c:\users\91886\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [9]:
import mysql.connector

In [ ]:
conn=mysql.connector.connect(host='loaclhost',user='root',password='',database='world')

In [ ]:
pd.read_sql_query("select * from city")