In [4]:
import pandas as pd
df=pd.read_csv('placement.csv')
df

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

In [5]:
df.shape  # shape of data

(100, 4)

In [6]:
df.head() # show data in top

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [7]:
df.info() # show all datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 3.3 KB

In [9]:
df.isnull().sum() # Show all missing value

Unnamed: 0    0
cgpa          0
iq            0
placement     0
dtype: int64

In [10]:
df.describe() # show all about staticstical info

       Unnamed: 0        cgpa          iq   placement
count  100.000000  100.000000  100.000000  100.000000
mean    49.500000    5.991000  123.580000    0.500000
std     29.011492    1.143634   39.944198    0.502519
min      0.000000    3.300000   37.000000    0.000000
25%     24.750000    5.075000  101.500000    0.000000
50%     49.500000    6.000000  127.500000    0.500000
75%     74.250000    6.900000  149.000000    1.000000
max     99.000000    8.500000  233.000000    1.000000

In [13]:
df.duplicated().sum()  # show all duplicate value

np.int64(0)

In [14]:
df.corr() # Correlation between columns

            Unnamed: 0      cgpa        iq  placement
Unnamed: 0    1.000000  0.047478 -0.019080   0.144807
cgpa          0.047478  1.000000 -0.098791   0.821688
iq           -0.019080 -0.098791  1.000000  -0.083031
placement     0.144807  0.821688 -0.083031   1.000000