In [1]:
import pandas as pd
df=pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [2]:
df['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [4]:
df['variety'].replace({'Setosa':'1', 'Versicolor':'2', 'Virginica':'3'},inplace=True)

C:\Users\91886\AppData\Local\Temp\ipykernel_7760\683941426.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['variety'].replace({'Setosa':'1', 'Versicolor':'2', 'Virginica':'3'},inplace=True)

In [5]:
df

     sepal.length  sepal.width  petal.length  petal.width variety
0             5.1          3.5           1.4          0.2       1
1             4.9          3.0           1.4          0.2       1
2             4.7          3.2           1.3          0.2       1
3             4.6          3.1           1.5          0.2       1
4             5.0          3.6           1.4          0.2       1
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       3
146           6.3          2.5           5.0          1.9       3
147           6.5          3.0           5.2          2.0       3
148           6.2          3.4           5.4          2.3       3
149           5.9          3.0           5.1          1.8       3

[150 rows x 5 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train,y_train,X_test,y_test=train_test_split(df[['sepal.length','sepal.width','petal.length','petal.width']],df['variety'],test_size=0.2,random_state=42)

In [15]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

ValueError: y should be a 1d array, got an array of shape (30, 4) instead.

In [ ]:
model.predict(X_test)