In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('dataset/car_detail.csv')
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [6]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [7]:
df.shape

(4340, 8)

In [9]:
df.ndim

2

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [11]:
df.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [16]:
data=df.drop(['year', 'selling_price','km_driven'], axis=1)

In [19]:
data.head()

                       name    fuel seller_type transmission         owner
0             Maruti 800 AC  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  Diesel  Individual       Manual  Second Owner

 Value_counts show data detail

In [20]:
data['name'].value_counts()

name
Maruti Swift Dzire VDI                  69
Maruti Alto 800 LXI                     59
Maruti Alto LXi                         47
Hyundai EON Era Plus                    35
Maruti Alto LX                          35
                                        ..
Hyundai Santro AT                        1
Hyundai Santro Xing XS eRLX Euro III     1
Honda Amaze S Petrol BSIV                1
Tata Indigo CS LS (TDI) BS-III           1
Volkswagen CrossPolo 1.2 MPI             1
Name: count, Length: 1491, dtype: int64

In [22]:
data['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [25]:
data['owner'].value_counts()

owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

# 1. OnehotEncoding using Pandas

In [32]:
pd.get_dummies(data,columns=['fuel','owner','transmission'])

,name,seller_type,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,transmission_Automatic,transmission_Manual
0,Maruti 800 AC,Individual,False,False,False,False,True,True,False,False,False,False,False,True
1,Maruti Wagon R LXI Minor,Individual,False,False,False,False,True,True,False,False,False,False,False,True
2,Hyundai Verna 1.6 SX,Individual,False,True,False,False,False,True,False,False,False,False,False,True
3,Datsun RediGO T Option,Individual,False,False,False,False,True,True,False,False,False,False,False,True
4,Honda Amaze VX i-DTEC,Individual,False,True,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),Individual,False,True,False,False,False,False,False,True,False,False,False,True
4336,Hyundai i20 Magna 1.4 CRDi,Individual,False,True,False,False,False,False,False,True,False,False,False,True
4337,Maruti 800 AC BSIII,Individual,False,False,False,False,True,False,False,True,False,False,False,True
4338,Hyundai Creta 1.6 CRDi SX Option,Individual,False,True,False,False,False,True,False,False,False,False,False,True
4339,Renault KWID RXT,Individual,False,False,False,False,True,True,False,False,False,False,False,True

two column are (name,seller_type) and get_dummies what do (fuel,owner,transmission) has 5,5,2 data include = 14 columns

then now issue MULTICOLINEAR  then remove 1 column in every data 
used hyperparameter function (drop_first=True) it works on n-1 system used K-1 OneHotEncoding

# K-1 OneHotEncoding

In [27]:
pd.get_dummies(data,columns=['fuel','owner','transmission'],drop_first=True)

,name,seller_type,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,transmission_Manual
0,Maruti 800 AC,Individual,False,False,False,True,False,False,False,False,True
1,Maruti Wagon R LXI Minor,Individual,False,False,False,True,False,False,False,False,True
2,Hyundai Verna 1.6 SX,Individual,True,False,False,False,False,False,False,False,True
3,Datsun RediGO T Option,Individual,False,False,False,True,False,False,False,False,True
4,Honda Amaze VX i-DTEC,Individual,True,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),Individual,True,False,False,False,False,True,False,False,True
4336,Hyundai i20 Magna 1.4 CRDi,Individual,True,False,False,False,False,True,False,False,True
4337,Maruti 800 AC BSIII,Individual,False,False,False,True,False,True,False,False,True
4338,Hyundai Creta 1.6 CRDi SX Option,Individual,True,False,False,False,False,False,False,False,True
4339,Renault KWID RXT,Individual,False,False,False,True,False,False,False,False,True

In [33]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

# 2.One HotEncoding using Sklearn

In [43]:
X=df.loc[:,['name','year','km_driven','fuel','seller_type','transmission','owner']]
Y=df.loc[:,'selling_price']
X.head()

,name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,141000,Diesel,Individual,Manual,Second Owner

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)
X_train.head(6)

,name,year,km_driven,fuel,seller_type,transmission,owner
227,Mahindra Scorpio S11 BSIV,2017,20000,Diesel,Individual,Manual,First Owner
964,Maruti Swift Dzire VDI,2018,50000,Diesel,Individual,Manual,First Owner
2045,Maruti Alto 800 LXI,2013,25000,Petrol,Individual,Manual,Second Owner
1025,Chevrolet Beat Diesel LS,2011,70000,Diesel,Individual,Manual,First Owner
4242,Maruti Vitara Brezza LDi Option,2017,72000,Diesel,Dealer,Manual,First Owner
1289,Toyota Etios 1.4 VXD,2017,70000,Diesel,Individual,Manual,First Owner

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [64]:
import numpy as np

In [65]:
ohe=OneHotEncoder(drop='first',dtype=np.int32)

In [66]:
X_train_new=ohe.fit_transform(X_train[['fuel','transmission','owner']]).toarray()

In [67]:
X_test_new=ohe.transform(X_test[['fuel','transmission','owner']]).toarray()

In [68]:
X_train_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [69]:
X_train[['name','year','km_driven','seller_type']].values

array([['Mahindra Scorpio S11 BSIV', 2017, 20000, 'Individual'],
       ['Maruti Swift Dzire VDI', 2018, 50000, 'Individual'],
       ['Maruti Alto 800 LXI', 2013, 25000, 'Individual'],
       ...,
       ['Maruti Ciaz VDi Plus SHVS', 2016, 51000, 'Dealer'],
       ['Maruti Ertiga VDI', 2013, 80000, 'Individual'],
       ['Hyundai Santro Xing GL Plus', 2013, 80000, 'Individual']],
      dtype=object)

Merge Xtrain data and X_train_new in horizontal stack

In [70]:
np.hstack((X_train[['name','year','km_driven','seller_type']].values,X_train_new))

array([['Mahindra Scorpio S11 BSIV', 2017, 20000, ..., 0, 0, 0],
       ['Maruti Swift Dzire VDI', 2018, 50000, ..., 0, 0, 0],
       ['Maruti Alto 800 LXI', 2013, 25000, ..., 1, 0, 0],
       ...,
       ['Maruti Ciaz VDi Plus SHVS', 2016, 51000, ..., 0, 0, 0],
       ['Maruti Ertiga VDI', 2013, 80000, ..., 0, 0, 0],
       ['Hyundai Santro Xing GL Plus', 2013, 80000, ..., 0, 0, 0]],
      dtype=object)

In [71]:
np.hstack((X_train[['name','year','km_driven','seller_type']].values,X_train_new)).shape

(3472, 13)

# 3. OneHotEncoding with Top categories

it used codition wise it short list 30  grater than car values

In [78]:
data['name'].value_counts()

name
Maruti Swift Dzire VDI                  69
Maruti Alto 800 LXI                     59
Maruti Alto LXi                         47
Hyundai EON Era Plus                    35
Maruti Alto LX                          35
                                        ..
Hyundai Santro AT                        1
Hyundai Santro Xing XS eRLX Euro III     1
Honda Amaze S Petrol BSIV                1
Tata Indigo CS LS (TDI) BS-III           1
Volkswagen CrossPolo 1.2 MPI             1
Name: count, Length: 1491, dtype: int64

In [79]:
count=data['name'].value_counts()

In [93]:
data['name'].nunique()
thresold=30

In [94]:
count[count <=thresold].index

Index(['Maruti Swift VDI BSIV', 'Maruti Wagon R VXI BS IV', 'Maruti Swift VDI',
       'Maruti Wagon R LXI Minor', 'Hyundai EON Magna Plus',
       'Maruti Wagon R LXI', 'Maruti 800 AC', 'Maruti Ritz VDi',
       'Hyundai i10 Magna', 'Mahindra XUV500 W8 2WD',
       ...
       'Hyundai i20 2015-2017 Sportz Option 1.4 CRDi', 'Tata Nano XM',
       'Maruti Swift LDI', 'Chevrolet Spark 1.0 LT BS3',
       'Ford Endeavour 2.2 Titanium AT 4X2', 'Hyundai Santro AT',
       'Hyundai Santro Xing XS eRLX Euro III', 'Honda Amaze S Petrol BSIV',
       'Tata Indigo CS LS (TDI) BS-III', 'Volkswagen CrossPolo 1.2 MPI'],
      dtype='object', name='name', length=1486)

In [95]:
repl=count[count <=thresold].index

In [96]:
pd.get_dummies(data['name'].replace(repl,'uncommon')).astype(int).sample(30)

,Hyundai EON Era Plus,Maruti Alto 800 LXI,Maruti Alto LX,Maruti Alto LXi,Maruti Swift Dzire VDI,uncommon
2445,0,0,0,0,0,1
1007,0,0,1,0,0,0
2931,0,0,0,0,0,1
2764,0,0,0,0,0,1
3151,0,0,0,0,0,1
4089,0,0,0,0,0,1
3013,0,0,0,0,0,1
750,0,0,0,0,0,1
2441,0,0,0,0,0,1
4145,0,0,0,0,0,1
2421,0,0,0,0,0,1
3000,0,0,0,0,0,1
2603,0,0,0,0,0,1
584,0,0,0,0,0,1
3837,0,0,0,0,0,1
2854,0,0,0,0,0,1
1630,0,0,0,0,0,1
338,0,0,0,0,1,0
2626,0,0,0,0,0,1
2146,0,0,0,0,0,1
1636,0,0,0,0,0,1
1611,0,0,0,0,0,1
1554,0,0,0,1,0,0
1701,0,0,0,0,1,0
2096,0,0,0,0,0,1
1993,0,0,0,0,0,1
2871,0,1,0,0,0,0
1057,0,0,0,0,0,1
2640,0,0,0,0,0,1
1360,0,0,0,0,0,1